@import viewmodels.InputWidth._

@this(
    layout: templates.Layout,
    formHelper: FormWithCSRF,
    govukErrorSummary: GovukErrorSummary,
    govukInput: GovukInput,
    govukButton: GovukButton
)

@(form: Form[_], mode: Mode, contactName: String)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = title(form, messages("secondContactEmail.title"))) {

    @formHelper(action = controllers.organisation.routes.SecondContactEmailController.onSubmit(mode)) {

        @if(form.errors.nonEmpty) {
            @govukErrorSummary(ErrorSummaryViewModel(form))
        }

        <h1 class="govuk-heading-l">@messages(messages(s"secondContactEmail.heading", contactName))</h1>
        <p class="govuk-body">@messages("secondContactEmail.p1")</p>

        @govukInput(
            InputViewModel(
                field = form("value"),
                label = LabelViewModel(messages("secondContactEmail.heading")).withCssClass("govuk-visually-hidden")
            )
            .withWidth(Full)
        )

        @govukButton(
            ButtonViewModel(messages("site.continue")).withAttribute("id" -> "submit")
        )
    }
}
